@use "../utils/variables" as v;

.postDate {
  float: right;
  color: v.$white;
}

.postTitle {
  
  @include v.primary-color;

  text-decoration: none;
  text-transform: capitalize;
  font-family: v.$fontHeader;
  font-size: 1.2em;
  float: left;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: v.$black;
  margin-bottom: 20px;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: v.$white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
