@use "../utils/variables";


.socialNavbar {
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline;
    }
  }
  a {
    color: variables.$white;
    text-shadow: variables.$black 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin: 10px;
  }
}