{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <h1>{{ .Title }}</h1>
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ range .Pages }}

        <a class="postListLink" href="{{ .Permalink }}">
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem" role="listitem">
                <div class="postHeader">
                    <span class="postTitle">{{ .Title }}</span>
                    {{ $formattedDate := .Date.Format "2006-01-02" }}
                    <time class="postDate" datetime="{{ $formattedDate }}">{{ .Date | time.Format ":date_long" }}</time>
                </div>
                <div class="postExcerpt">
                    <p>{{ .Summary }}</p>
                </div>
            </div>
        </a>


        {{end}}
    </div>
</div>

{{ end }}