<header class="headerWrapper">
    <div class="header">
        <div>
            <a href="/">
                <span class="terminal">{{ .Site.Params.user }}@{{ .Site.Params.hostname }} ~ $</span>
            </a>
        </div>
        <nav class="headerLinks">
            <ul>
                <li key="about">
                    <a href="/about">
                        <span>~/about</span>
                    </a>
                </li>
                <li key="blog">
                    <a href="/blog">
                        <span>~/blog</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>