@use "../utils/variables" as v;

.postWrapper {
    text-align: left;
    padding: 20px;    
}

.postMetadata {
    font-family: v.$fontCode;
    display: block;
    background: v.$backgroundDarker;
    padding: 10px;
}

dt, dd {
    line-height: 1.5;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

dt::after {
    content: ":";
}